on:
  push:
    branches:
      - "develop"
jobs:
  publish:
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v8
        with:
          diagnostic-endpoint: ""
      - uses: DeterminateSystems/flakehub-push@ee6c7aa9666a9a1a54abaf700cb6e0c48dccda0c
        with:
          visibility: "public"
          rolling: true
